<!-- Title -->
<h3 class="mt-5 mb-3 fw-bolder">{{ title }}</h3>

<!-- Loop through all bookings-->
{% for booking in event_space_bookings %}

<!-- Row and Column for each booking -->
<div class="row justify-content-center my-4">
    <div class="col">

        <!-- Booking Card -->
        <!-- get todays date -->
        {% now "Y m d" as today %}
        {% if not booking.date|date:'Y m d' < today %}
        <div class="card w-100 {% if booking.status == 0 %}card-status-orange{% elif booking.status == 1 %}card-status-yellow{% else %}card-status-blue{% endif %}">
        {% else %}
        <div class="card w-100">
        {% endif %}

            <!-- Card Body -->
            <div class="card-body">

                <!-- Card Text -->
                <div class="card-text {% if booking.date|date:'Y m d' < today %}text-muted{% endif %}"> 

                        <!-- Card Title -->
                        <h5 class="mb-3">{{ booking.event_space }}</h5>

                        <!-- List -->
                        <ul class="list-unstyled">

                            <li class="mb-2">Resident: {{ booking.resident }}</li>
                            <li class="mb-2">Occasion: {{ booking.occasion }}</li>
                            <li class="mb-2">Date: {{ booking.date }}</li>
                            <li class="mb-2">Time: {{ booking.start }} - {{ booking.end }}</li>

                            {% if booking.notes %}
                            <li class="mb-2">Notes: <span class="fst-italic">{{ booking.notes }}</span></li>
                            {% endif %}
                            
                            <li class="mb-2">Created on: {{ booking.created_on|date:"M d, Y" }}</li>

                        </ul>    

                </div>
                <!-- End Card Text -->

                <!-- Buttons -->
                <!-- Can only approve or deny bookings in the future -->
                {% if booking.status != 1 and booking.date|date:"Y m d" >= today %}
                <a href="{% url 'mgmt-booking-approve' booking.id %}" class="btn btn-yellow mx-1 ms-sm-2 my-2">Approve</a>
                {% endif %}
                {% if booking.status != 2 and booking.date|date:"Y m d" >= today %}
                <a href="{% url 'mgmt-booking-deny' booking.id %}" class="btn btn-secondary mx-1 ms-sm-2 my-2">Deny</a>
                {% endif %}
                <button class="btn btn-danger btn-mgmt-delete-booking mx-1 ms-sm-2 my-2" data-booking_id="{{ booking.id }}">Delete</button>

            </div>
            <!-- End Card Body -->

        </div>
        <!-- End Booking Card -->

    </div>
</div>
<!-- End col and row for each booking -->

{% empty %}
<!-- Row and Column for empty list -->
<div class="row justify-content-center my-4">
    <div class="col">

        <!-- No Booking Card -->
        <div class="card">

            <div class="card-body">
                <div class="card-text"> 
                    <p class="pt-2">No bookings found.</p>
                </div>
            </div>

        </div>
        <!-- End No Booking Card -->

    </div>
</div>
<!-- End Row and Column for empty list -->

{% endfor %}
<!-- End Loop -->