<h5>{{ title }}</h5>

<!-- Loop through all resident requests-->
{% for resident_request in resident_requests %}

<!-- Row and Column for each request -->
<div class="row justify-content-center">
    <div class="col">

        <!-- Resident Request Card -->
        <div class="card w-100">

            <div class="card-body">
                <div class="card-text {% if resident_request.status == 2 %}text-muted{% endif %}">
                    {% if resident_request.urgent %}
                    <p class="fw-bold text-danger">Urgent!</p>
                    {% endif %}
                    <ul>
                        <li>Resident: {{ resident_request.resident }}</li>
                        <li>Content: {{ resident_request.content }}</li>
                        <li>Status: {{ resident_request.get_status_display }}</li>
                        <li>Created on: {{ resident_request.created_on }}</li>
                        <li>For testing: Id: {{ resident_request.id }}</li>
                    </ul>    

                </div>

                <!-- Buttons -->
                {% if resident_request.status != 1 %}
                <a href="{% url 'mgmt-request-in-progress' resident_request.id %}" class="btn btn-sm btn-warning">{% if resident_request.status == 0 %}In Progress{% elif resident_request.status == 2 %}Reopen{% endif %}</a>
                {% endif %}
                {% if resident_request.status != 2 %}
                <a href="{% url 'mgmt-request-closed' resident_request.id %}" class="btn btn-sm btn-success">Close</a>
                {% endif %}
                <button class="btn btn-danger btn-sm btn-mgmt-delete-request" booking_id="{{ resident_request.id }}">Delete</button>

            </div>

        </div>
        <!-- End Request Card -->

    </div>
</div>
<!-- End col and row for each request -->
{% empty %}

<!-- Row and Column for empty list -->
<div class="row justify-content-center">
    <div class="col">

        <!-- No Request Card -->
        <div class="card">

            <div class="card-body">
                <div class="card-text"> 
                    <p>No {% if purpose == 0 %}maintenance request{% else %}messages{% endif %} found.</p>
                </div>

            </div>

        </div>
        <!-- End No Request Card -->

    </div>
</div>

{% endfor %}
<!-- End Loop -->