<h4>{{ title }}</h4>

<!-- Loop through all users (don't use user since this refers to the currently logged in user)-->
{% for user_item in users_list %}

<!-- Row and Column for each user -->
<div class="row justify-content-center">
    <div class="col">

        <!-- User Card -->
        <div class="card">

            <div class="card-body">
                <div class="card-text"> 
                    <h5>{{ user_item.username }}</h5>
                    <ul>
                        {% if user_item.first_name or user_item.last_name %}
                        <li>Name:{% if user_item.first_name %} {{ user_item.first_name }}{% endif %}{% if user_item.last_name %} {{ user_item.last_name }}{% endif %}</li>
                        {% endif %}
                        <li>Email: {{ user_item.email }} </li>
                        <li>Active: {% if user_item.is_active %}Yes{% endif %}{% if not user_item.is_active %}No{% endif %}</li>
                        <li>Community administrator: {% if user_item.is_staff %}Yes{% endif %}{% if not user_item.is_staff %}No{% endif %}</li>
                        <li>Last Login: {% if user_item.last_login %}{{ user_item.last_login }}{% else %}Never{% endif %} </li>
                        <li>Date joined: {{ user_item.date_joined }} </li>
                    </ul>

                </div>

                <!-- Buttons -->
                <!-- only show buttons for users not the current user, otherwise could accidentally delete or deactivate own account -->
                {% if not user_item.id == user.id %}
                <a href="{% url 'mgmt-user-activation' user_item.id %}" class="btn btn-sm {% if user_item.is_active %}btn-secondary{% else %}btn-success{%endif%}">{% if not user_item.is_active %}Activate{% else %}Deactivate{%endif%}</a> 
                {% if user_item.is_active %} 
                <a href="{% url 'mgmt-user-admin-status' user_item.id %}" class="btn btn-sm {% if user_item.is_staff %}btn-secondary{% else %}btn-primary{% endif %}">{% if not user_item.is_staff %}Give Admin Status{% else %}Remove Admin Status{% endif %}</a>
                {% endif %}
                <button class="btn btn-danger btn-sm btn-delete-users" user_id="{{ user_item.id }}">Delete User</button>
                {% endif %}

            </div>

        </div>
        <!-- End User Card -->

    </div>
</div>
<!-- End col and row for each user -->
{% empty %}

<!-- Row and Column for empty list -->
<div class="row justify-content-center">
    <div class="col">

        <!-- No User Card -->
        <div class="card">

            <div class="card-body">
                <div class="card-text"> 
                    <h5>No Users found.</h5>
                </div>

            </div>

        </div>
        <!-- End No User Card -->

    </div>
</div>

{% endfor %}
<!-- End Loop -->