<h4 class="mt-5 fw-bolder">{{ title }}</h4>

<!-- Loop through all bookings-->
{% for booking in event_space_bookings %}

<!-- Row and Column for each booking -->
<div class="row justify-content-center my-4">
    <div class="col">

        <!-- Booking Card -->
        <!-- get todays date -->
        {% now "Y m d" as today %}
        {% if not booking.date|date:'Y m d' < today %}
        <div class="card w-100 {% if booking.status == 0 %}card-status-yellow{% elif booking.status == 1 %}card-status-blue{% else %}card-status-orange{% endif %}">
        {% else %}
        <div class="card w-100">
        {% endif %}

            <!-- Booking Card Body -->
            <div class="card-body">

                <!-- Card Text -->
                <div class="card-text {% if booking.date|date:'Y m d' < today %}text-muted{% endif %}"> 

                        <!-- Card Title -->
                        <h5 class="mb-3">{{ booking.event_space }}</h5>
                        <!-- Card List -->
                        <ul class="list-unstyled">
                            <li class="mb-2">Occasion: {{ booking.occasion }}</li>
                            <li class="mb-2">Date: {{ booking.date|date:"M d, Y" }}</li>
                            <li class="mb-2">Time: {{ booking.start }} - {{ booking.end }}</li>

                            {% if booking.notes %}
                            <li class="mb-2">Notes: <span class="fst-italic">{{ booking.notes }}</span></li>
                            {% endif %}
                            
                            <li class="mb-2">Created on: {{ booking.created_on|date:"M d, Y" }}</li>
                            <!-- <li> for testing: ID: {{ booking.id }} </li> -->
                        </ul>    

                </div>

                <!-- Buttons -->
                <!-- Cannot edit past bookings and only Admin can delete past bookings in admin space -->
                {% if booking.date|date:"Y m d" >= today %}
                <a class="btn btn-sm btn-blue btn-edit me-2 mb-1" href="{% url 'booking_edit' booking.id %}">Edit</a>
                <button class="btn btn-sm btn-delete-bookings btn-danger mb-1" data-booking_id="{{ booking.id }}">Delete</button>
                {% endif %}

            </div>
            <!-- End Booking Card Body -->

        </div>
        <!-- End Booking Card -->

    </div>
</div>
<!-- End col and row for each booking -->
{% empty %}

<!-- Row and Column for empty list -->
<div class="row justify-content-center my-4">
    <div class="col">

        <!-- No Booking Card -->
        <div class="card">

            <div class="card-body">
                <div class="card-text"> 
                    <p class="pt-2">No bookings found.</p>
                </div>

            </div>

        </div>
        <!-- End No Booking Card -->

    </div>
</div>

{% endfor %}
<!-- End Loop -->