<h4>{{ title }}</h4>

<!-- Loop through all bookings-->
{% for booking in event_space_bookings %}

<!-- Row and Column for each booking -->
<div class="row justify-content-center">
    <div class="col">

        <!-- Booking Card -->
        <div class="card w-100">

            <!-- get todays date -->
            {% now "Y m d" as today %}
            <div class="card-body">
                <div class="card-text {% if booking.date|date:'Y m d' < today %}text-muted{% endif %}"> 
                        <h5>{{ booking.event_space }}</h5>
                        <ul>
                            <li>Occasion: {{ booking.occasion }}</li>
                            <li>Date: {{ booking.date }}</li>
                            <li>Time: {{ booking.start }} - {{ booking.end }}</li>

                            {% if booking.notes %}
                            <li>Notes: {{ booking.notes }}</li>
                            {% endif %}
                            
                            <li>Created on: {{ booking.created_on }}</li>
                            <li>Status: {{ booking.get_status_display }}  </li>
                            <li> for testing: ID: {{ booking.id }} </li>
                        </ul>    

                </div>

                <!-- Buttons -->
                <!-- Cannot edit past bookings and only Admin can delete past bookings in admin space -->
                {% if booking.date|date:"Y m d" >= today %}
                <a class="btn btn-sm btn-secondary btn-edit btn-primary" href="{% url 'booking_edit' booking.id %}">Edit</a>
                <button class="btn btn-sm btn-secondary btn-delete-bookings btn-danger" booking_id="{{ booking.id }}">Delete</button>
                {% endif %}

            </div>

        </div>
        <!-- End Booking Card -->

    </div>
</div>
<!-- End col and row for each booking -->
{% empty %}

<!-- Row and Column for empty list -->
<div class="row justify-content-center">
    <div class="col">

        <!-- No Booking Card -->
        <div class="card">

            <div class="card-body">
                <div class="card-text"> 
                    <p>No event space bookings found.</p>
                </div>

            </div>

        </div>
        <!-- End No Booking Card -->

    </div>
</div>

{% endfor %}
<!-- End Loop -->