/* Define Colors */
:root {
    --my-blue: #324495;
    --my-yellow: #f6ae2d;
    --my-orange: #f26419;
    --my-magnolia: #e8e8f2;
    --my-night-blue: #121619;
  }


/* General styles */

body {
    min-height: 100vh;
    font-family: 'Quicksand', sans-serif;
}

main {
    padding-top: 75px;
    padding-bottom: 1rem;
}

form {
    margin-top: 1.3em;
}

/* Base template */

/* Navbar */

#logo {
    font-size: 150%;
}

/* Index.html */

/* Hero section */
#hero-image {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    border-radius: 40px;
    padding: 1rem;
    border: 5px solid var(--my-yellow);
}

.row-margin {
    margin-left: 0;
    margin-right: 0;
}

#cover-text {
    font-size: 130%;
    margin-top: 1rem;
    padding: 1rem;
    border: 5px solid var(--my-orange);
    border-radius: 40px;
    position: absolute;
    top: 50vh;
    left: 5rem;
}

#cover-text h2 {
    padding: 2rem;
    background-color: var(--my-yellow);
    border-radius: 40px;
}

/* Resident Space */

.dashboard-image {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

/* Event Spaces list */

.event-space-image {
    width: 100%;
    height: 40vh;
    object-fit: cover;
}



/* Media queries */

/* Media query: small mobile devices */
/* To properly display hero section */
@media screen and (max-width: 550px) {
    #hero-image {
        padding: .5rem;
        border-radius: 20px;
        height: 50vh;
    }

    #cover-text {
        left: 2rem;
        top: 48vh;
        padding: .5rem;
        border-radius: 20px;
    }

    #cover-text h2 {
        font-size: 120%;
        padding: 1rem;
        border-radius: 20px;
    }
}


@media screen and (max-width: 310px) {
    #hero-image {
        padding: .3rem;
        border-radius: 10px;
        border-width: 2px;
        height: 50vh;
    }

    #cover-text {
        left: 1rem;
        top: 50vh;
        padding: .3rem;
        border-radius: 10px;
        border-width: 2px;
    }

    #cover-text h2 {
        font-size: 100%;
        padding: .5rem;
        border-radius: 10px;
        border-width: 2px;
    }
}

@media screen and (max-width: 240px) {
    #cover-text {
        left: .3rem;
    }

    #cover-text h2 {
        font-size: 80%;
    }
}

