/* Define Colors */
:root {
    --my-blue: #324495;
    --my-blue-active: #24316b;
    --my-yellow: #f6ae2d;
    --my-yellow-active: #cd9326;
    --my-orange: #f26419;
    --my-orange-active: #d16023;
  }


/* General styles */

body {
    min-height: 100vh;
    font-family: 'Quicksand', sans-serif;
}

main {
    padding-top: 90px;
    padding-bottom: 1rem;
}

.messages-row {
    position: relative;
    top: 95px;
}

.messages-row a {
    text-decoration: none;
    color: var(--my-blue);
    font-size: 120%;
}

.messages-row a:active, .messages-row a:hover {
    text-decoration: underline;
    color: var(--my-blue-active);
}

.sharedspaces {
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-weight: 600;
    font-size: 140%;
}

.link-style {
    text-decoration: none;
    color: var(--my-blue);
}

.link-style:active, .link-style:hover {
    text-decoration: underline;
    color: var(--my-blue-active);
}

/* General .card styles */
.card-status-yellow {
    border: 3px solid var(--my-yellow);
}

.card-status-orange {
    border: 3px solid var(--my-orange);
}

.card-status-blue {
    border: 3px solid var(--my-blue);
}


/* General form styles */
/* .form-card {
    border: 3px solid var(--my-orange);
} */

form {
    margin-top: 1rem;
}

/* Validation Errors (Remove bullet point) */
form .alert-block li {
    display: block;
}

/* Form Buttons */
.btn-blue {
    color: white;
    background-color: var(--my-blue);
    border-color: var(--my-blue);
}

.btn-blue:hover, .btn-blue:active {
    color: white !important;
    background-color: var(--my-blue-active) !important;
    border-color: var(--my-blue-active) !important;
}

.btn-yellow {
    background-color: var(--my-yellow);
    border-color: var(--my-yellow);
}

.btn-yellow:hover, .btn-yellow:active {
    background-color: var(--my-yellow-active) !important;
    border-color: var(--my-yellow-active) !important;
}

.btn-orange {
    background-color: var(--my-orange);
    border-color: var(--my-orange);
}

.btn-orange:hover, .btn-orange:active {
    background-color: var(--my-orange-active) !important;
    border-color: var(--my-orange-active) !important;
}

input[type="checkbox"] {
    border-color: var(--my-blue) !important;
}

input[type="checkbox"]:checked {
    background-color: var(--my-orange) !important;
    border-color: var(--my-orange) !important;
}

input:focus {
    border-color: var(--my-orange) !important;
    box-shadow: 0 0 3px var(--my-orange) !important;
}

textarea:focus {
    border-color: var(--my-orange) !important;
    box-shadow: 0 0 3px var(--my-orange) !important;      
}

select:focus {
    border-color: var(--my-orange) !important;
    box-shadow: 0 0 3px var(--my-orange) !important;      
}

input[type="checkbox"] + label { 
    font-size: 110%;
}


/* Base template */

/* Navbar */

#logo {
    font-size: 250%;
    padding: 0
}

.resident-nav-link {
    font-size: 120%;
    line-height: 1.9rem;
    color: var(--my-blue);
    border: 2px solid var(--my-yellow);
    border-radius: 10px;
    display: inline-block;
    padding: .2rem .5rem;
    margin-right: .8rem;
}

.resident-nav-link:hover {
    color: var(--my-blue-active) !important;
    border: 2px solid var(--my-yellow-active) !important;
}

.resident-active {
    font-size: 120%;
    line-height: 1.9rem;
    color: var(--my-blue-active);
    border: 2px solid var(--my-yellow-active);
    border-radius: 10px;
    display: inline-block;
    padding: .2rem .5rem;
    margin-right: .8rem;
}

.admin-nav-link {
    font-size: 120%;
    line-height: 1.9rem;
    color: var(--my-blue);
    border: 2px solid var(--my-orange);
    border-radius: 10px;
    display: inline-block;
    padding: .2rem .5rem;
}

.admin-nav-link:hover {
    color: var(--my-blue-active) !important;
    border: 2px solid var(--my-orange-active) !important;
}

.admin-active {
    font-size: 120%;
    line-height: 1.9rem;
    color: var(--my-blue-active);
    border: 2px solid var(--my-orange-active);
    border-radius: 10px;
    display: inline-block;
    padding: .2rem .5rem;
    margin-right: .8rem;
}

/* Index.html */

/* Hero section */

#hero-image {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    border-radius: 40px;
    padding: 1rem;
    border: 5px solid var(--my-yellow);
}

#cover-text {
    font-size: 130%;
    margin-top: 1rem;
    padding: 1rem;
    padding-bottom: .5rem;
    border: 5px solid var(--my-orange);
    border-radius: 40px;
    position: absolute;
    top: 50vh;
    left: 5rem;
}

#cover-text h2 {
    padding: 2rem;
    background-color: var(--my-yellow);
    border-radius: 40px;
}



/* Highlights section */

.highlights-heading {
    padding: .5rem;
    padding-bottom: 0;
    border: 4px solid var(--my-orange);
    border-radius: 20px;
}

.highlights-heading h3 {
    background-color: var(--my-blue);
    padding: 1rem;
    color: white;
    border-radius: 10px;
}

.highlights-text {
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: .5rem;
    padding-bottom: 0;
    border: 4px solid var(--my-yellow);
    border-radius: 20px;
}

.highlights-text p {
    margin: .5rem;
    margin-bottom: 1rem;
}


/* Join SharedSpaces Buttons */

.btn-join {
    background-color: var(--my-yellow);
    border: 5px solid var(--my-orange);
}

/* for button:active need to override default bootstrap styles */
.btn-join:hover, .btn-join:active {
    background-color: var(--my-yellow-active) !important;
    border: 5px solid var(--my-orange) !important;
}


/* About Section */

/* General section cover text and heading (also for Contact) */
.section-header-image {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    object-position: top right;
    border-radius: 30px;
    padding: 1rem;
}

.section-cover-text {
    margin-top: 1rem;
    padding: .8rem;
    padding-bottom: .3rem;
    border-radius: 20px;
    position: relative;
    bottom: 5rem;
    left: 5rem;
}

.section-cover-text h3 {
    padding: 1rem;
    border-radius: 20px;
}

/* About Section Specific */
#about-header-image {
    border: 4px solid var(--my-orange);
}

#about-cover-text {
    border: 4px solid var(--my-yellow);
}

#about-cover-text h3 {
    background-color: var(--my-orange);
}

/* Only on About Page */
.about-heading h3 {
    color: white;
    background-color: var(--my-blue);
    padding: 1rem;
    border-radius: 10px;
}

.about-text {
    margin-top: 1rem;
    margin-bottom: 2rem;
    height: auto;
}

.about-text p {
    margin: .5rem;
    margin-bottom: 1rem;
}

.about-image {
    height: 100%;
    width: 100%;
    max-height: 25rem;
    object-fit: cover;
    object-position: center center;
    border-radius: 30px;    
}

/* Contact Page */
#contact-form-section {
    margin-top: -2rem;
}

#contact-header-image {
    border: 4px solid var(--my-blue);
}

#contact-cover-text {
    color: white;
    border: 4px solid var(--my-yellow);
}

#contact-cover-text h3 {
    background-color: var(--my-blue);
}


/* Error 404 Page */

#error-header-image {
    height: 60vh;
    border: 4px solid var(--my-yellow);
    object-position: center center;
}

#error-cover-text {
    border: 4px solid var(--my-orange);
    bottom: 10rem;
}

#error-cover-text h3 {
    background-color: var(--my-yellow);
    padding: 3rem;
}

.error-text {
    margin-top: -10rem;
}

.error-text p {
    font-size: 200%;
}

.btn-home {
    color: white;
    background-color: var(--my-blue);
    border: 5px solid var(--my-yellow);
    padding: 1rem;
    font-size: 200%;
}

.btn-home:hover, .btn-home:active {
    color: white !important;
    background-color: var(--my-blue-active) !important;
    border: 5px solid var(--my-yellow) !important;
}


/* For Authenticated Users Only */
/* Resident Space */

.username-in-title {
    border: 3px solid var(--my-yellow);
    padding: .2rem .5rem;
    border-radius: 5px;
}

.dashboard-image {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    object-position: center 75%;
}

.urgent-request {
    font-size: 90%;
    background-color: var(--my-yellow);
    padding: .2rem .5rem;
    border-radius: 5px;
    margin-left: .5rem;
}

.btn-return {
    color: white;
    background-color: var(--my-blue);
    border: 5px solid var(--my-orange);
    border-radius: 10px;
}

.btn-return:hover, .btn-return:active {
    color: white !important;
    background-color: var(--my-blue-active) !important;
    border: 5px solid var(--my-orange) !important;
}

/* Event Spaces list */

.event-space-image {
    width: 100%;
    height: 40vh;
    object-fit: cover;
}



/* Go to Resident Space Button */
/* 
#to-resident-space-button {
    position: absolute;
    right: 0;
}

.btn-resident-space {
    background-color: var(--my-blue);
    border: 5px solid var(--my-yellow);
    color: white;
}

.btn-resident-space:hover, .btn-resident-space:active {
    background-color: var(--my-blue-active) !important;
    border: 5px solid var(--my-yellow) !important;
    color: white !important;
} */




/* Media queries */

/* When navbar collapses to dropdown menu */
@media screen and (max-width: 991.5px) {
    /* resident nav link for authenticated users */
    .resident-nav-link {
        margin-bottom: .8rem;
        margin-right: 0;
    }

    .resident-active {
        margin-bottom: .8rem;
        margin-right: 0;
    }

}

/* Media query: small mobile devices */
/* To properly display hero section */
@media screen and (max-width: 550px) {
    /* Hero Section */
    #hero-image {
        padding: .5rem;
        border-radius: 20px;
        height: 50vh;
    }

    #cover-text {
        left: 2rem;
        top: 48vh;
        padding: .5rem;
        padding-bottom: 0;
        border-radius: 20px;
    }

    #cover-text h2 {
        font-size: 120%;
        padding: 1rem;
        border-radius: 20px;
    }

    /* About Section */
    .section-header-image {
        padding: .3rem;
        border-radius: 10px;
        height: 40vh;
    }

    .section-cover-text {
        left: 1rem;
        bottom: 4rem;
        padding: .3rem;
        padding-bottom: 0;
        border-radius: 10px;
    }

    .section-cover-text h3 {
        font-size: 140%;
        padding: .8rem;
        border-radius: 10px;
    }

    .about-image {
        max-height: 15rem;
    }

    .about-heading h3 {
        font-size: 130%;
        padding: .8rem;
    }

    /* Error Page */

    #error-header-image {
        padding: .5rem;
        border-radius: 20px;
        height: 40vh;
    }

    #error-cover-text {
        left: 2rem;
        bottom: 4rem;
        padding: .3rem;
        padding-bottom: 0;
        border-radius: 10px;
    }

    #error-cover-text h3 {
        font-size: 200%;
        padding: 1rem;
        border-radius: 10px;
    }

    .error-text {
        margin-top: -3.5rem;
        font-size: 80%;
    }

    .btn-home {
        padding: .8rem;
        font-size: 150%;
    }

    /* default .lead font size: 1.25rem */
    .lead {
        font-size: 1.1rem;
    }
}


@media screen and (max-width: 310px) {
    #hero-image {
        padding: .3rem;
        border-radius: 10px;
        border-width: 2px;
        height: 50vh;
    }

    #cover-text {
        left: 1rem;
        top: 50vh;
        padding: .3rem;
        border-radius: 10px;
        border-width: 2px;
    }

    #cover-text h2 {
        font-size: 100%;
        padding: .5rem;
        border-radius: 10px;
        border-width: 2px;
    }

    /* About and Contact Section */
    .section-header-image {
        height: 35vh;
    }

    .section-cover-text {
        left: .8rem;
        bottom: 3.5rem;
        padding: .2rem;
        padding-bottom: 0;
    }

    .section-cover-text h3 {
        font-size: 120%;
        padding: .6rem;
    }

    .about-image {
        max-height: 15rem;
    }

    .about-heading h3 {
        font-size: 110%;
        padding: .5rem;
    }

    /* default .lead font size: 1.25rem */
    .lead {
        font-size: 1rem;
    }
}


/* When dropdown toggler breaks into newline on very small screens */
@media screen and (max-width: 260px) {
    /* Main */
    main {
        padding-top: 130px;
    }

    /* Hero Section */
    #cover-text {
        top: 60vh;
    }

}


@media screen and (max-width: 240px) {
    /* Hero Section */
    #cover-text {
        left: .3rem;
    }

    #cover-text h2 {
        font-size: 80%;
    }

    /* About and Contact Section */
    .section-cover-text {
        left: .5rem;
    }

    .section-cover-text h3 {
        font-size: 90%;
    }
}


/* Very Large screens */
@media screen and (min-width: 1200px) {
    /* About Section */
    .about-image {
        object-position: center 40%;   
    }
}