/* General styles */

form {
    margin-top: 1.3em;
}

/* .no-margin {
    margin-left: 0;
    margin-right: 0;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
} */

/* Index.html */

/* Hero section */
#hero-image {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    display: block;
    padding: 0;
}

.row-margin {
    margin-left: 0;
    margin-right: 0;
}

#cover-text {
    background-color: #f26419;
    font-size: 130%;
    padding: 2rem;
}

#cover-text > h2, #cover-text > h3 {
    color: #121619;
}

/* Resident Space */

.dashboard-image {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

/* Event Spaces list */

.event-space-image {
    width: 100%;
    height: 40vh;
    object-fit: cover;
}