{% extends "base.html" %}

{% block content %}

<!-- contact_messages.html content starts here -->
<div class="container-fluid">
    
    <!-- Title Row -->
    <div class="row">
        <div class="col-12 text-center">
            <h3>Contact Messages</h3>
            <p>Here is a list of all contact messages sent through the contact form.</p>
        </div>
    </div>

    <!-- Data Row -->
    <div class="row justify-content-center">

        <!-- List of Messages -->
        <div class="col-12 col-md-6 col-xl-5 col-xxl-4">

            <!-- Include partial templates -->
            {% include "management/partials/messages_list.html" with title="Open" contact_messages=open_contact_messages %}
            {% include "management/partials/messages_list.html" with title="Processed" contact_messages=processed_contact_messages %}

        </div>
        <!-- End Messages List -->

    </div>

    <!-- Return to Admin Space Button -->
    <div class="row">
        <div class="col-auto">
            <a href="{% url 'management' %}" class="btn btn-primary">Return to Admin Space</a>
        </div>
    </div>

</div>


<!-- contact_messages.html content ends here -->
{% endblock content %}