{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- contact_messages.html content starts here -->
<!-- Contact Messages Section -->
<section>

    <!-- Contact Messages Container -->
    <div class="container-fluid">
        
        <!-- Title Row -->
        <div class="row justify-content-center text-center mt-3">
            <div class="col-auto">
                <h2>Contact Messages</h2>
                <p class="lead mt-3">A list of all contact messages sent through the contact form.</p>
            </div>
        </div>

        <!-- Data Row -->
        <div class="row justify-content-center">

            <!-- List of Messages -->
            <div class="col-12 col-sm-10 col-md-8 col-xl-6 col-xxl-5 mx-2">

                <!-- Include partial templates -->
                {% include "management/partials/messages_list.html" with title="Open" contact_messages=open_contact_messages %}
                {% include "management/partials/messages_list.html" with title="Processed" contact_messages=processed_contact_messages %}

            </div>
            <!-- End Messages List -->

        </div>
        <!-- End Data Row -->

        <!-- Return to Admin Space Button -->
        <div class="row">
            <div class="col-auto">
                <a href="{% url 'management' %}" class="btn btn-lg btn-return-admin mx-2 my-3">Return to Admin Space</a>
            </div>
        </div>

    </div>
    <!-- End Contact Messages Container -->

</section>
<!-- End Contact Messages Section -->


<!-- Delete Messages confirmation modal -->
<div class="modal fade" id="mgmt-delete-message-modal" tabindex="-1" data-bs-backdrop="true" aria-labelledby="mgmt-delete-message-modal-label" aria-hidden="true">

    <!-- Modal -->
    <div class="modal-dialog">

        <!-- Modal Content -->
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title" id="mgmt-delete-message-modal-label">Delete Message?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                Are you sure you want to permanently delete this contact message?
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <!-- url is set dynamically in mgmt_delete_data.js -->
                <a id="mgmt-delete-message-confirm" href="#" class="btn btn-danger">Delete</a>
            </div>

        </div>

    </div>

</div>


<!-- contact_messages.html content ends here -->
{% endblock content %}

<!-- Script block -->
{% block extras %}
<script src="{% static 'js/mgmt_delete_data.js' %}"></script>
{% endblock %}