{% extends "base.html" %}

{% block content %}

<!-- event_space_bookings.html content starts here -->
<div class="container-fluid">
    
    <!-- Title Row -->
    <div class="row">
        <div class="col-12 text-center">
            <h3>Event Space Bookings</h3>
            <p>Here is a list of all event space bookings.</p>
        </div>
    </div>

    <!-- Data Row -->
    <div class="row justify-content-center">

        <!-- List of Event Space Bookings -->
        <div class="col-12 col-md-6 col-xl-5 col-xxl-4">

            <!-- Include partial templates -->
            {% include "management/partials/booking_list.html" with title="Pending" event_space_bookings=pending_bookings %}
            {% include "management/partials/booking_list.html" with title="Approved" event_space_bookings=approved_bookings %}
            {% include "management/partials/booking_list.html" with title="Denied" event_space_bookings=denied_bookings %}

        </div>
        <!-- End Event Space Bookings List -->

    </div>

    <!-- Return to Admin Space Button -->
    <div class="row">
        <div class="col-auto">
            <a href="{% url 'management' %}" class="btn btn-primary">Return to Admin Space</a>
        </div>
    </div>

</div>


<!-- event_space_bookings.html content ends here -->
{% endblock content %}