{% extends "base.html" %}

{% block content %}

<!-- event_space_bookings.html content starts here -->
<div class="container-fluid">
    
    <!-- Title Row -->
    <div class="row">
        <div class="col-12 text-center">
            <h3>Event Space Bookings</h3>
            <p>Here is a list of all event space bookings.</p>
        </div>
    </div>

    <!-- Data Row -->
    <div class="row justify-content-center">

        <!-- List of Event Space Bookings -->
        <div class="col-12 col-md-6 col-xl-5 col-xxl-4">

            <h4>{{ title }}</h4>

            <!-- Loop through all bookings-->
            {% for booking in event_space_bookings %}

            <!-- Row and Column for each booking -->
            <div class="row justify-content-center">
                <div class="col">

                    <!-- Booking Card -->
                    <div class="card w-100">

                        <div class="card-body">
                            <div class="card-text"> 
                                    <h5>{{ booking.event_space }}</h5>
                                    <ul>
                                        <li>Resident: {{ booking.resident }}</li>
                                        <li>Occasion: {{ booking.occasion }}</li>
                                        <li>Date: {{ booking.date }}</li>
                                        <li>Time: {{ booking.start }} - {{ booking.end }}</li>
    
                                        {% if booking.notes %}
                                        <li>Notes: {{ booking.notes }}</li>
                                        {% endif %}
                                        
                                        <li>Created on: {{ booking.created_on }}</li>
                                        <li>Status: {{ booking.get_status_display }}  </li>
                                    </ul>    

                            </div>

                            <!-- Buttons -->

                            {% if not booking.status == 1 %}
                            <a href="{% url 'mgmt-booking-approve' booking.id %}" class="btn btn-sm btn-success">Approve</a>
                            {% endif %}
                            {% if not booking.status == 2 %}
                            <a href="{% url 'mgmt-booking-deny' booking.id %}" class="btn btn-sm btn-secondary">Deny</a>
                            {% endif %}
                            <button class="btn btn-danger btn-sm btn-mgmt-delete-booking" booking_id="{{ booking.id }}">Delete</button>

                        </div>

                    </div>
                    <!-- End Booking Card -->

                </div>
            </div>
            <!-- End col and row for each booking -->
            {% empty %}

            <!-- Row and Column for empty list -->
            <div class="row justify-content-center">
                <div class="col">

                    <!-- No Booking Card -->
                    <div class="card">

                        <div class="card-body">
                            <div class="card-text"> 
                                <h5>No Event Space Bookings found.</h5>
                            </div>

                        </div>

                    </div>
                    <!-- End No Booking Card -->

                </div>
            </div>

            {% endfor %}
            <!-- End Loop -->

        </div>
        <!-- End Event Space Bookings List -->

    </div>

    <!-- Return to Admin Space Button -->
    <div class="row">
        <div class="col-auto">
            <a href="{% url 'management' %}" class="btn btn-primary">Return to Admin Space</a>
        </div>
    </div>

</div>


<!-- event_space_bookings.html content ends here -->
{% endblock content %}