{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- event_spaces.html content starts here -->
<div class="container-fluid">
    
    <!-- Title Row -->
    <div class="row">
        <div class="col-12 text-center">
            <h3>Event Spaces</h3>
            <p>Here is a list of all available event spaces in the SharedSpaces community. You can add new event spaces, and edit or delete existing ones.</p>
        </div>
    </div>

    <!-- Add New Event Space -->
    <div class="row justify-content-center">
        <div class="col-auto">
            <a href="{% url 'mgmt-add-event-space' %}" class="btn btn-lg btn-primary">Add New Event Space</a>
        </div>
    </div>

    <!-- Data Row -->
    <div class="row justify-content-center">

        <!-- List of Event Spaces -->
        <div class="col-10 col-sm-8 col-md-6 col-xl-5 col-xxl-4">

            <!-- Loop through all event spaces-->
            {% for space in event_spaces_values %}

            <!-- Row and Column for each event_space -->
            <div class="row justify-content-center">
                <div class="col">

                    <!-- Event Space Card -->
                    <div class="card">
                        {% if "placeholder" in space.image.url %}
                        <img class="card-img-top img-fluid event-space-image" src="{% static 'images/event_space_example.webp' %}" alt="placeholder image">
                        {% else %}
                        <img class="card-img-top img-fluid event-space-image" src=" {{ space.image.url }}" alt="{{ space.name }}">
                        {% endif %}
                        <div class="card-body">
                            <div class="card-text"> 
                                <h5>{{ space.name }}</h5>
                                <ul>
                                    <li>Type: {{ space.type }}</li>
                                    <li>Building: {{ space.building }}</li>
                                    <li>Capacity: {{ space.capacity }}</li>
                                    <li>Number of Tables: {{ space.number_of_tables }} </li>
                                    <li>Number of Chairs: {{ space.number_of_chairs }} </li>
                                    <li>
                                        Amenities:
                                        <!-- Loop through all Boolean Fields -->
                                        <ul>
                                            {% for key, value in space.items  %}
                                                {% if value is True %}
                                                <li class="replace-underscore">{{ key }}</li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>

                                    </li>

                                    {% if space.notes %}
                                    <li>Notes: {{ space.notes }}</li>
                                    {% endif %}

                                </ul>
                                <a href="{% url 'mgmt-edit-event-space' space.id %}" class="btn btn-sm btn-secondary">Edit</a>
                                <button class="btn btn-danger btn-sm btn-delete-event-space" space_id="{{ space.id }}">Delete</button>

                            </div>

                        </div>

                    </div>
                    <!-- End Event Space Card -->

                </div>
            </div>
            <!-- End col and row for each space -->
            {% empty %}

            <!-- Row and Column for empty list -->
            <div class="row justify-content-center">
                <div class="col">

                    <!-- No Space Card -->
                    <div class="card">

                        <div class="card-body">
                            <div class="card-text"> 
                                <h5>No Event Spaces found.</h5>
                            </div>

                        </div>

                    </div>
                    <!-- End No Space Card -->

                </div>
            </div>

            {% endfor %}
            <!-- End Loop -->

        </div>
        <!-- End Event Spaces List -->

    </div>


    <!-- Return to Admin Space Button -->
    <div class="row">
        <div class="col-auto">
            <a href="{% url 'management' %}" class="btn btn-primary">Return to Admin Space</a>
        </div>
    </div>
    

</div>


<!-- Delete Event Spaces confirmation modal -->
<div class="modal fade" id="delete-event-space-modal" tabindex="-1" aria-labelledby="delete-event-space-modal-label" aria-hidden="true">

    <!-- Modal -->
    <div class="modal-dialog">

        <!-- Modal Content -->
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title" id="delete-event-space-modal-label">Delete Event Space?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                Are you sure you want to permanently delete this event space?
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <!-- url is set dynamically in mgmt_delete_event_space.js -->
                <a id="delete-event-space-confirm" href="#" class="btn btn-danger">Delete</a>
            </div>

        </div>

    </div>

</div>


<!-- event_spaces.html content ends here -->
{% endblock content %}

<!-- Script block -->
{% block extras %}
<script src="{% static 'js/event_spaces_list.js' %}"></script>
<script src="{% static 'js/mgmt_delete_event_space.js' %}"></script>
{% endblock %}