{% extends "base.html" %}

{% block content %}

<!-- management_page.html content starts here -->
<div class="container-fluid">
    <div class="row">

        <div class="col-12 mt-3 left">
            <h2>This is the management page for administrators</h2>
        </div>
            
    </div>

    <div class="row justify-content-center">

        <div class="col-8 col-md-3">

            <!-- User Card -->
            <div class="card">

                <div class="card-body">
                    <div class="card-text"> 
                        <h4>User Accounts</h4>
                        <p>View and edit User accounts</p>
                        <a href="{% url 'users' %}" class="btn btn-primary">Go to User Accounts</a>
                    </div>

                </div>

            </div>
            <!-- End User Card -->

        </div>

        <div class="col-8 col-md-3">

            <!-- Event Spaces Card -->
            <div class="card">

                <div class="card-body">
                    <div class="card-text"> 
                        <h4>Event Spaces</h4>
                        <p>View and edit available shared event spaces in the SharedSpaces community</p>
                        <a href="{% url 'event_spaces' %}" class="btn btn-primary">Go to Event Spaces</a>
                    </div>

                </div>

            </div>
            <!-- End Event Spaces Card -->

        </div>

        <div class="col-8 col-md-3">

            <!-- Event Space Bookings Card -->
            <div class="card">

                <div class="card-body">
                    <div class="card-text"> 
                        <h4>Event Space Bookings</h4>
                        <p>View and edit all event space bookings made by SharedSpaces residents.</p>
                        <a href="{% url 'event_space_bookings' %}" class="btn btn-primary">Go to Bookings</a>
                    </div>

                </div>

            </div>
            <!-- End Event Space Bookings Card -->

        </div>

    </div>


</div>

<!-- management_page.html content ends here -->
{% endblock content %}