{% extends "base.html" %}

{% block content %}

<!-- management_page.html content starts here -->
<div class="container-fluid">
    <div class="row">

        <div class="col-12 mt-3 left">
            <h2>This is the management page for administrators</h2>
        </div>
            
    </div>

    <div class="row justify-content-center">

        <div class="col-8 col-md-3">

            <!-- User Card -->
            <div class="card">

                <div class="card-body">
                    <div class="card-text"> 
                        <h4>User Accounts</h4>
                        <p>View and edit User accounts</p>
                        <a href="{% url 'users' %}" class="btn btn-primary">Go to User Accounts</a>
                    </div>

                </div>

            </div>
            <!-- End User Card -->

        </div>

    </div>


</div>

<!-- management_page.html content ends here -->
{% endblock content %}