{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<!-- manage_event_spaces.html content starts here -->
<!-- Manage Event Spaces Section -->
<section>

    <!-- Manage Event Spaces Container -->
    <div class="container-fluid">

        <!-- Title Row -->
        <div class="row my-3 mb-4">
            <div class="col-12 text-center">

                <h2 id="manage-event-spaces-title">Add New Event Space</h2>

            </div>
        </div>

        <!-- Event Space Form Row and Column -->
        <div class="row justify-content-center">
            <div class="col-11 col-xs-10 col-sm-8 col-md-6 col-xl-4 mb-4 card form-card">

                <!-- Event Space Card Body-->
                <div class="card-body">

                    <!-- Event Space Form -->
                    <form id="manage-event-spaces-form" method="post" enctype="multipart/form-data">

                        {% csrf_token %}

                        <!-- Include each form field seperately, to control the order while including the current image when editing event space -->

                        {{ event_space_form.name|as_crispy_field }}
                        {{ event_space_form.type|as_crispy_field }}
                        
                        {{ event_space_form.image|as_crispy_field }}
                        <!-- If an image is already stored (when editing), display the current image, for new event space: no image is displayed -->
                        <!-- Code Inspiration to get image url: https://stackoverflow.com/a/34614101  -->
                        {% if event_space_form.instance.image.url %}
                            <div class="mb-3">
                                <label class="mb-2">Current Image:</label><br>
                                <!-- Code inspiration for onError event: https://stackoverflow.com/a/8125327, in case a placeholder image is used -->
                                <img src="{{ event_space_form.instance.image.url }}" class="edit-form-image" onError='this.onerror=null; this.src="{% static "images/event_space_example.webp" %}";'>
                            </div>
                        {% endif %}

                        {{ event_space_form.building|as_crispy_field }}
                        {{ event_space_form.capacity|as_crispy_field }}
                        {{ event_space_form.number_of_tables|as_crispy_field }}
                        {{ event_space_form.number_of_chairs|as_crispy_field }}
                        {{ event_space_form.kitchen|as_crispy_field }}
                        {{ event_space_form.tea_and_coffeemaker|as_crispy_field }}
                        {{ event_space_form.projector|as_crispy_field }}
                        {{ event_space_form.audio_equipment|as_crispy_field }}
                        {{ event_space_form.childrens_play_area|as_crispy_field }}
                        {{ event_space_form.piano|as_crispy_field }}
                        {{ event_space_form.notes|as_crispy_field }}

                        <!-- Buttons -->
                        <button id="manage-event-spaces-reset-button" type="reset" class="btn btn-lg btn-blue me-2 mb-1">Reset</button>
                        <button id="manage-event-spaces-submit-button" type="submit" class="btn btn-lg btn-yellow mb-1">Submit</button>
                        
                    </form>
                    <!-- End Event Space Form -->

                </div>
                <!-- End Event Space Card Body -->

            </div>
        </div>
        <!-- End Event Space Form Row and Column -->

        <!-- Return to EventSpaces Button -->
        <div class="row">
            <div class="col-auto">
                <a href="{% url 'mgmt-event-spaces' %}" class="btn btn-lg btn-return-admin mx-2 my-3">Return to Event Spaces</a>
            </div>
        </div>

    </div>
    <!-- End Manage Event Spaces Container -->

</section>
<!-- End Manage Event Spaces Section -->

<!-- manage_event_spaces.html content ends here -->
{% endblock content %}

<!-- Script block -->
{% block extras %}
<script src="{% static 'js/mgmt_edit_event_spaces.js' %}"></script>
{% endblock %}