{% extends "base.html" %}

{% block content %}

<!-- management_page.html content starts here -->
<div class="container-fluid">
    <div class="row">

        <div class="col-12 mt-3 left">
            <h2>This is the management page for administrators</h2>
        </div>
            
    </div>

    <div class="row justify-content-center">

        <div class="col-10 col-sm-6 col-md-4 d-flex align-items-stretch text-center">

            <!-- User Card -->
            <div class="card w-100">

                <div class="card-body">
                    <div class="card-text"> 
                        <h4>User Accounts</h4>
                        <p>View and edit User accounts</p>
                        <a href="{% url 'mgmt-users' %}" class="btn btn-primary">Go to User Accounts</a>
                    </div>

                </div>

            </div>
            <!-- End User Card -->

        </div>

        <div class="col-10 col-sm-6 col-md-4 d-flex align-items-stretch text-center">

            <!-- Event Spaces Card -->
            <div class="card w-100">

                <div class="card-body">
                    <div class="card-text"> 
                        <h4>Event Spaces</h4>
                        <p>View and edit available shared event spaces in the SharedSpaces community</p>
                        <a href="{% url 'mgmt-event-spaces' %}" class="btn btn-primary">Go to Event Spaces</a>
                    </div>

                </div>

            </div>
            <!-- End Event Spaces Card -->

        </div>

        <div class="col-10 col-sm-6 col-md-4 d-flex align-items-stretch text-center">

            <!-- Event Space Bookings Card -->
            <div class="card w-100">

                <div class="card-body">
                    <div class="card-text"> 
                        <h4>Event Space Bookings</h4>
                        <p>View and edit all event space bookings made by SharedSpaces residents.</p>
                        <a href="{% url 'mgmt-event-space-bookings' %}" class="btn btn-primary">Go to Bookings</a>
                    </div>

                </div>

            </div>
            <!-- End Event Space Bookings Card -->

        </div>

        <div class="col-10 col-sm-6 col-md-4 d-flex align-items-stretch text-center">

            <!-- Resident Requests Card -->
            <div class="card w-100">

                <div class="card-body">
                    <div class="card-text"> 
                        <h4>Resident Requests</h4>
                        <p>View and edit all maintenance requests made or messages sent by SharedSpaces residents.</p>
                        <a href="{% url 'mgmt-resident-requests' %}" class="btn btn-primary">Go to Requests</a>
                    </div>

                </div>

            </div>
            <!-- End Resident Requests Card -->

        </div>

        <div class="col-10 col-sm-6 col-md-4 d-flex align-items-stretch text-center">

            <!-- Contact Messages Card -->
            <div class="card w-100">

                <div class="card-body">
                    <div class="card-text"> 
                        <h4>Contact Messages</h4>
                        <p>View and edit all contact messages sent through the contact form.</p>
                        <a href="{% url 'mgmt-contact-messages' %}" class="btn btn-primary">Go to Messages</a>
                    </div>

                </div>

            </div>
            <!-- End Contact Messages Card -->

        </div>


    </div>


</div>

<!-- management_page.html content ends here -->
{% endblock content %}