{% extends "base.html" %}

{% block content %}

<!-- resident_requests.html content starts here -->
<div class="container-fluid">
    
    <!-- Title Row -->
    <div class="row">
        <div class="col-12 text-center">
            <h3>Resident Requests</h3>
            <p>Here is a list of all maintenance requests and messages by SharedSpaces residents.</p>
        </div>
    </div>

    <!-- Data Row -->
    <div class="row justify-content-around">

        <!-- List of Maintenance Requests Column -->
        <div class="col-12 col-md-6 col-xl-5 col-xxl-4">

            <h4>Maintenance Requests</h4>

            <!-- Include partial templates -->
            <!-- Include purpose 0 or 1 for the text displayed if no requests are found -->
            {% include "management/partials/resident_request_list.html" with title="Open" resident_requests=open_maintenance_requests purpose=0 %}
            {% include "management/partials/resident_request_list.html" with title="In Progress" resident_requests=progress_maintenance_requests purpose=0 %}
            {% include "management/partials/resident_request_list.html" with title="Closed" resident_requests=closed_maintenance_requests purpose=0 %}

        </div>
        <!-- End Maintenance Requests List Column -->

        <!-- List of Messages Column -->
        <div class="col-12 col-md-6 col-xl-5 col-xxl-4">

            <h4>Messages</h4>

            <!-- Include partial templates -->
            {% include "management/partials/resident_request_list.html" with title="Open" resident_requests=open_messages purpose=1 %}
            {% include "management/partials/resident_request_list.html" with title="In Progress" resident_requests=progress_messages purpose=1 %}
            {% include "management/partials/resident_request_list.html" with title="Closed" resident_requests=closed_messages purpose=1 %}

        </div>
        <!-- End Messages List Column-->

    </div>
    <!-- End Data Row -->

    <!-- Return to Admin Space Button -->
    <div class="row">
        <div class="col-auto">
            <a href="{% url 'management' %}" class="btn btn-primary">Return to Admin Space</a>
        </div>
    </div>

</div>


<!-- resident_requests.html content ends here -->
{% endblock content %}