{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- resident_requests.html content starts here -->
<!-- Resident Requests Section -->
<section>

    <!-- Resident Requests Container -->
    <div class="container-fluid">
        
        <!-- Title Row -->
        <div class="row justify-content-center text-center mt-3">
            <div class="col-auto">

                <h2>Resident Requests</h2>
                <p class="lead mt-3">A list of all maintenance requests and messages by <span class="sharedspaces">SharedSpaces</span> residents.</p>

            </div>
        </div>

        <!-- Data Row -->
        <div class="row justify-content-around">

            <!-- List of Maintenance Requests Column -->
            <div class="col-12 col-md-6 col-xxl-5">

                <h3 class="mt-5">Maintenance Requests</h3>

                <!-- Include partial templates -->
                <!-- Include purpose 0 or 1 for the text displayed if no requests are found -->
                {% include "management/partials/resident_request_list.html" with title="Open" resident_requests=open_maintenance_requests purpose=0 %}
                {% include "management/partials/resident_request_list.html" with title="In Progress" resident_requests=progress_maintenance_requests purpose=0 %}
                {% include "management/partials/resident_request_list.html" with title="Closed" resident_requests=closed_maintenance_requests purpose=0 %}

            </div>
            <!-- End Maintenance Requests List Column -->

            <!-- List of Messages Column -->
            <div class="col-12 col-md-6 col-xxl-5">

                <h3 class="mt-5">Messages</h3>

                <!-- Include partial templates -->
                {% include "management/partials/resident_request_list.html" with title="Open" resident_requests=open_messages purpose=1 %}
                {% include "management/partials/resident_request_list.html" with title="In Progress" resident_requests=progress_messages purpose=1 %}
                {% include "management/partials/resident_request_list.html" with title="Closed" resident_requests=closed_messages purpose=1 %}

            </div>
            <!-- End Messages List Column-->

        </div>
        <!-- End Data Row -->

        <!-- Return to Admin Space Button -->
        <div class="row">
            <div class="col-auto">
                <a href="{% url 'management' %}" class="btn btn-lg btn-return-admin mx-2 my-3">Return to Admin Space</a>
            </div>
        </div>

    </div>
    <!-- End Resident Requests Container -->

</section>
<!-- End Resident Requests Section -->


<!-- Delete Requests confirmation modal -->
<div class="modal fade" id="mgmt-delete-request-modal" tabindex="-1" aria-labelledby="mgmt-delete-request-modal-label" aria-hidden="true">

    <!-- Modal -->
    <div class="modal-dialog">

        <!-- Modal Content -->
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title" id="mgmt-delete-request-modal-label">Delete Request?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                Are you sure you want to permanently delete this request?
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <!-- url is set dynamically in mgmt_delete_data.js -->
                <a id="mgmt-delete-request-confirm" href="#" class="btn btn-danger">Delete</a>
            </div>

        </div>

    </div>

</div>


<!-- resident_requests.html content ends here -->
{% endblock content %}

<!-- Script block -->
{% block extras %}
<script src="{% static 'js/mgmt_delete_data.js' %}"></script>
{% endblock %}