{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- users.html content starts here -->
<div class="container-fluid">
    
    <!-- Title Row -->
    <div class="row">
        <div class="col-12 text-center">
            <h3>Users</h3>
            <p>Here is a list of all registered users of the SharedSpaces website.</p>
        </div>
    </div>

    <!-- Data Row -->
    <div class="row justify-content-center">

        <!-- List of Users -->
        <div class="col-12 col-md-6 col-xl-5 col-xxl-4">

            <!-- Loop through all users (don't use user since this refers to the currently logged in user)-->
            {% for user_item in users_list %}

            <!-- Row and Column for each user -->
            <div class="row justify-content-center">
                <div class="col">

                    <!-- User Card -->
                    <div class="card">

                        <div class="card-body">
                            <div class="card-text"> 
                                <h4>{{ user_item.username }}</h4>
                                <ul>
                                    {% if user_item.full_name %}
                                    <li>Name: {{ user_item.full_name }}</li>
                                    {% endif %}
                                    <li>Email: {{ user_item.email }} </li>
                                    <li>Active: {% if user_item.is_active %}Yes{% endif %}{% if not user_item.is_active %}No{% endif %}</li>
                                    <li>Community administrator: {% if user_item.is_staff %}Yes{% endif %}{% if not user_item.is_staff %}No{% endif %}</li>
                                    <li>Last Login: {{ user_item.last_login }} </li>
                                    <li>Date joined: {{ user_item.date_joined }} </li>
                                </ul>

                                <!-- only show buttons for users not the current user, otherwise could accidentally delete or deactivate own account -->
                                {% if not user_item.id == user.id %}
                                    <a href="{% url 'user-activation' user_item.id %}" class="btn btn-sm btn-primary">{% if not user_item.is_active %}Activate{% endif %}{% if user_item.is_active %}Deactivate{%endif%}</a> 
                                    {% if user_item.is_active %} 
                                    <a href="{% url 'user-admin-status' user_item.id %}" class="btn btn-sm btn-secondary">{% if not user_item.is_staff %}Give Admin Status{% endif %}{% if user_item.is_staff %}Remove Admin Status{% endif %}</a>
                                    {% endif %}
                                    <button class="btn btn-danger btn-sm btn-delete-users" user_id="{{ user_item.id }}">Delete User</button>
                                {% endif %}
                            </div>

                        </div>

                    </div>
                    <!-- End User Card -->

                </div>
            </div>
            <!-- End col and row for each user -->

            {% endfor %}
            <!-- End Loop -->

        </div>
        <!-- End Users List -->

    </div>

</div>

<!-- Delete Users confirmation modal -->
<div class="modal fade" id="delete-users-modal" tabindex="-1" aria-labelledby="delete-users-modal-label" aria-hidden="true">

    <!-- Modal -->
    <div class="modal-dialog">

        <!-- Modal Content -->
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title" id="delete-users-modal-label">Delete User?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                Are you sure you want to permanently delete this user account?
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <!-- url is set dynamically in delete_user.js -->
                <a id="delete-users-confirm" href="#" class="btn btn-danger">Delete</a>
            </div>

        </div>

    </div>

</div>

<!-- users.html content ends here -->
{% endblock content %}

<!-- Script block -->
{% block extras %}
<script src="{% static 'js/delete_user.js' %}"></script>
{% endblock %}