{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- users.html content starts here -->
<div class="container-fluid">
    
    <!-- Title Row -->
    <div class="row">
        <div class="col-12 text-center">
            <h3>Users</h3>
            <p>Here is a list of all registered users of the SharedSpaces website.</p>
        </div>
    </div>

    <!-- Data Row -->
    <div class="row justify-content-center">

        <!-- List of Users -->
        <div class="col-12 col-md-6 col-xl-5 col-xxl-4">

            <!-- Include partial templates -->
            {% include "management/partials/user_list.html" with title="Community Administrators" users_list=staff_users %}
            {% include "management/partials/user_list.html" with title="Confirmed SharedSpaces Residents" users_list=active_users %}
            {% include "management/partials/user_list.html" with title="Inactive Users" users_list=inactive_users %}

        </div>
        <!-- End Users List -->

    </div>

</div>

<!-- Delete Users confirmation modal -->
<div class="modal fade" id="delete-users-modal" tabindex="-1" aria-labelledby="delete-users-modal-label" aria-hidden="true">

    <!-- Modal -->
    <div class="modal-dialog">

        <!-- Modal Content -->
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title" id="delete-users-modal-label">Delete User?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                Are you sure you want to permanently delete this user account?
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <!-- url is set dynamically in delete_user.js -->
                <a id="delete-users-confirm" href="#" class="btn btn-danger">Delete</a>
            </div>

        </div>

    </div>

</div>

<!-- users.html content ends here -->
{% endblock content %}

<!-- Script block -->
{% block extras %}
<script src="{% static 'js/delete_user.js' %}"></script>
{% endblock %}