{% extends "base.html" %}

{% block content %}

<!-- users.html content starts here -->
<div class="container-fluid">
    
    <!-- Title Row -->
    <div class="row">
        <div class="col-12 text-center">
            <h3>Users</h3>
            <p>Here is a list of all registered users of the SharedSpaces website.</p>
        </div>
    </div>

    <!-- Data Row -->
    <div class="row justify-content-center">

        <!-- List of Users -->
        <div class="col-12 col-md-6 col-xl-5 col-xxl-4">

            <!-- Loop through all users (don't use user since this refers to the currently logged in user)-->
            {% for user_item in users_list %}

            <!-- Row and Column for each user -->
            <div class="row justify-content-center">
                <div class="col">

                    <!-- User Card -->
                    <div class="card">

                        <div class="card-body">
                            <div class="card-text"> 
                                <h4>{{ user_item.username }}</h4>
                                <ul>
                                    {% if user_item.full_name %}
                                    <li>Name: {{ user_item.full_name }}</li>
                                    {% endif %}
                                    <li>Email: {{ user_item.email }} </li>
                                    <li>Active: {% if user_item.is_active %}Yes{% endif %}{% if not user_item.is_active %}No{% endif %}</li>
                                    <li>Community administrator: {% if user_item.is_staff %}Yes{% endif %}{% if not user_item.is_staff %}No{% endif %}</li>
                                    <li>Last Login: {{ user_item.last_login }} </li>
                                    <li>Date joined: {{ user_item.date_joined }} </li>
                                </ul>
                                <a href="{% url 'user-activation' user_item.id %}" class="btn btn-primary">{% if not user_item.is_active %}Activate{% endif %}{% if user_item.is_active %}Deactivate{%endif%}</a>
                                

                                {% if user_item.is_active and not user_item.is_staff %} 
                                <a href="" class="btn btn-secondary">Give Admin Status</a>
                                {% endif %}
                                {% if user_item.is_active and user_item.is_staff %} 
                                <a href="" class="btn btn-secondary">Remove Admin Status</a>
                                {% endif %}
                                <button class="btn btn-danger">Delete User</button>
                            </div>

                        </div>

                    </div>
                    <!-- End User Card -->

                </div>
            </div>
            <!-- End col and row for each user -->

            {% endfor %}
            <!-- End Loop -->

        </div>
        <!-- End Users List -->

    </div>

<!-- users.html content ends here -->
{% endblock content %}