{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- event_spaces_list.html content starts here -->
<!-- Event Spaces Section -->
<section>
    <div class="container-fluid">

        <!-- Title Row -->
        <div class="row my-3 mb-2 mb-lg-3 mb-xl-4">

            <div class="col-12 text-center">
                <h2><span class="sharedspaces">SharedSpaces</span> Event Spaces</h2>
                <p class="lead mt-3">A list of event spaces available <a href="{% url 'booking' %}" class="link-style fs-4">to book</a> for <span class="sharedspaces">SharedSpaces</span> residents.</p>
            </div>

        </div>
        <!-- End Title Row -->

        <!-- Data Row -->
        <div class="row justify-content-center">

            <!-- List of Event Spaces Column -->
            <div class="col-12 col-sm-10 col-md-8 col-xl-6 col-xxl-5 mx-2">

                <!-- Loop through all event spaces-->
                {% for space in event_spaces_values %}

                <!-- Row and Column for each space -->
                <div class="row justify-content-center my-4">
                    <div class="col">

                        <!-- Event Space Card -->
                        <div class="card w-100 card-status-yellow">

                            <!-- Image -->
                            {% if "placeholder" in space.image.url %}
                            <img class="card-img-top  img-fluid event-space-image" src="{% static 'images/event_space_example.webp' %}" alt="placeholder image">
                            {% else %}
                            <img class="card-img-top  img-fluid event-space-image" src=" {{ space.image.url }}" alt="{{ space.name }}">
                            {% endif %}

                            <!-- Card Body -->
                            <div class="card-body">

                                <!-- Card Text -->
                                <div class="card-text"> 

                                    <!-- Card Title -->
                                    <h4 class="my-3 mx-2 fs-3">{{ space.name }}</h4>

                                    <!-- List -->
                                    <ul class="list-unstyled mx-2 mb-3">
                                        
                                        <li class="mb-2">Type: {{ space.type }}</li>
                                        <li class="mb-2">Building: {{ space.building }}</li>
                                        <li class="mb-2">Capacity: {{ space.capacity }}</li>
                                        <li class="mb-2">Number of Tables: {{ space.number_of_tables }} </li>
                                        <li class="mb-2">Number of Chairs: {{ space.number_of_chairs }} </li>
                                        <li class="mb-2">
                                            Amenities:
                                            <!-- Loop through all Boolean Fields -->
                                            <ul class="list-unstyled my-2 ms-4">
                                                {% for key, value in space.items  %}
                                                    {% if value is True %}
                                                    <li class="mb-2"><i class="fa-regular fa-circle-check text-success"></i> <span class="replace-underscore ms-1">{{ key }}</span></li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>

                                        </li>

                                        {% if space.notes %}
                                        <li class="mb-3 my-3">Notes: <span class="fst-italic">{{ space.notes }}</span></li>
                                        {% endif %}

                                    </ul>

                                </div>
                                <!-- End Card Text -->

                                <!-- Button to book this event space, include space.id -->
                                <a class="btn btn-orange mx-1 my-1" href="{% url 'space_booking' space.id %}">Book this Space</a>

                            </div>
                            <!-- End Card Body -->

                        </div>
                        <!-- End Event Space Card -->

                    </div>
                </div>
                <!-- End col and row for each space -->
                
                {% empty %}

                <!-- Row and Column for empty list -->
                <div class="row justify-content-center">
                    <div class="col">

                        <!-- No Space Card -->
                        <div class="card">

                            <div class="card-body">
                                <div class="card-text"> 
                                    <p class="pt-2">No event spaces found.</p>
                                </div>
                            </div>

                        </div>
                        <!-- End No Space Card -->

                    </div>
                </div>
                <!-- End Row and Column for empty list -->

                {% endfor %}
                <!-- End Loop -->

            </div>
            <!-- End List of Event Spaces Column -->
                
        </div>
        <!-- End Data Row -->

        <!-- Return to Resident Space Button -->
        <div class="row">
            <div class="col-auto">
                <a href="{% url 'dashboard' %}" class="btn btn-lg btn-return mx-2 my-3">Return to Resident Space</a>
            </div>
        </div>

    </div>
</section>
<!-- End Event Spaces Section -->

<!-- event_spaces_list.html content ends here -->
{% endblock content %}

<!-- Script block -->
{% block extras %}
<script src="{% static 'js/event_spaces_list.js' %}"></script>
{% endblock %}