{% extends "base.html" %}

{% load static %}

{% block content %}

{% if user.is_authenticated %}
<!-- resident_space.html content starts here -->
<div class="container-fluid">

    <!-- Title Row -->
    <div class="row">
        <div class="col-12 text-center">
            <h2>Welcome to Your Resident Space <span class="text-capitalize">{{ user.username }}</span>!</h2>
        </div>
    </div>

    <!-- Card Row -->
    <div class="row justify-content-center">

        <div class="col-10 col-md-5 col-xl-4 col-xxl-3 d-flex align-items-stretch">

            <!-- Event Space Booking Card -->
            <div class="card border-primary text-center">
                <img src="{% static 'images/event_space_example.webp' %}" class="card-img-top img-fluid dashboard-image" alt="Empty seminar room">

                <div class="card-body">
                    <h3 class="card-title">Event Space Bookings</h5>
                    <p class="card-text">Here you can view and book any of the <a href="{% url 'event_spaces' %}">available shared event spaces</a> in the living community.</p>
                    <a href="{% url 'booking' %}" class="btn btn-primary">Book a Space</a>
                </div>

            </div>

        </div>

        <div class="col-10 col-md-5 col-xl-4 col-xxl-3 d-flex align-items-stretch">

            <!-- Maintenance Request Card -->
            <div class="card border-primary text-center">
                <img src="{% static 'images/maintenance_example.webp' %}" class="card-img-top img-fluid dashboard-image" alt="Tools">

                <div class="card-body">
                    <h3 class="card-title">Maintenance Requests and Messages</h5>
                    <p class="card-text">Here you can send a maintenance request or any other request or suggestion to the community administrators.</p>
                    <a href="{% url 'resident_request' %}" class="btn btn-primary">Submit a Request</a>
                </div>

            </div>

        </div>
            
    </div>

    <!-- Data Row -->
    <div class="row justify-content-center">

        <!-- Bookings for this User -->
        <div class="col-10 col-md-5 col-xl-4 col-xxl-3">

            <h4>Your Bookings</h4>

            <!-- Loop through all event space bookings for this user -->
            {% for booking in event_space_bookings %}

            <!-- Row and Column for each booking -->
            <div class="row justify-content-center">
                <div class="col">

                    <!-- Booking Card -->
                    <div class="card">

                        <div class="card-body">
                            <div class="card-text">
                                <h5>{{ booking.event_space }}</h5>
                                <ul>
                                    <!-- Remove Resident line before release!!!!!!! -->
                                    <li>For Testing: Resident: {{ booking.resident }}</li>
                                    <li>Occasion: {{ booking.occasion }}</li>
                                    <li>Date: {{ booking.date }}</li>
                                    <li>Time: {{ booking.start }} - {{ booking.end }}</li>

                                    {% if booking.notes %}
                                    <li>Notes: {{ booking.notes }}</li>
                                    {% endif %}
                                    
                                    <li>Created on: {{ booking.created_on }}</li>
                                    <li>Status: {{ booking.get_status_display }}  </li>
                                </ul>    
                            </div>
                            <a class="btn btn-sm btn-secondary btn-edit" href="{% url 'booking_edit' booking.id %}">Edit</a>
                            <button class="btn btn-sm btn-secondary btn-delete-bookings" booking_id="{{ booking.id }}">Delete</button>
                        </div>

                    </div>
                    <!-- End Booking Card -->

                </div>
            </div>
            <!-- End col and row for each booking -->

            {% endfor %}
            <!-- End Loop -->

        </div>
        <!-- End Bookings for this User -->


        <!-- Requests for this User -->
        <div class="col-10 col-md-5 col-xl-4 col-xxl-3">

            <h4>Your Requests</h4>

            <!-- Loop through all requests for this user -->
            {% for resident_request in resident_requests %}

            <!-- Row and Column for each request -->
            <div class="row justify-content-center">
                <div class="col">

                    <!-- Resident Request Card -->
                    <div class="card">

                        <div class="card-body">
                            <div class="card-text">
                                <h5>{% if resident_request.purpose == 0 %}Maintenance Request{% else %}Message{% endif %}</h5>
                                <ul>
                                    <!-- Remove Resident line before release!!!!!!! -->
                                    <li>For Testing: Resident: {{ resident_request.resident }}</li>
                                    <li>Urgent: {% if resident_request.urgent is True  %}yes {% else %}No {% endif %}   </li>
                                    <li>{% if resident_request.purpose == 0 %}Request{% else %}Message{% endif %}: {{ resident_request.content }}</li>
                                    <li>Created on: {{ resident_request.created_on }}</li>
                                    <li>Status: {{ resident_request.get_status_display }}  </li>
                                </ul>    
                            </div>
                            <a class="btn btn-sm btn-secondary btn-edit" href="{% url 'resident_request_edit' resident_request.id %}">Edit</a>
                            <button class="btn btn-sm btn-secondary btn-delete-requests" resident_request_id="{{ resident_request.id }}">Delete</button>
                        </div>

                    </div>
                    <!-- End Resident Request Card -->

                </div>
            </div>
            <!-- End col and row for each resident request -->

            {% endfor %}
            <!-- End Loop -->

        </div>
        <!-- End Resident Requests for this User -->
            
    </div>

</div>

{% else %}

<div class="container-fluid">
    <div class="row">

        <div class="col-12 mt-3 left">
            <h2>To access the Resident Space <a class="link" href="{% url 'account_login' %}">sign in</a> first!</h2>
        </div>
            
    </div>
</div>

{% endif %}

<!-- Delete Bookings confirmation modal -->
<div class="modal fade" id="delete-bookings-modal" tabindex="-1" aria-labelledby="delete-bookings-modal-label" aria-hidden="true">

    <!-- Modal -->
    <div class="modal-dialog">

        <!-- Modal Content -->
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title" id="delete-bookings-modal-label">Delete Booking?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                Are you sure you want to permanently delete this event space booking?
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <!-- url is set dynamically in delete_data.js -->
                <a id="delete-bookings-confirm" href="#" class="btn btn-danger">Delete</a>
            </div>

        </div>

    </div>

</div>

<!-- Delete Resident Requests confirmation modal -->
<div class="modal fade" id="delete-requests-modal" tabindex="-1" aria-labelledby="delete-requests-modal-label" aria-hidden="true">

    <!-- Modal -->
    <div class="modal-dialog">

        <!-- Modal Content -->
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title" id="delete-requests-modal-label">Delete Request?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                Are you sure you want to permanently delete this request?
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <!-- url is set dynamically in delete_data.js -->
                <a id="delete-requests-confirm" href="#" class="btn btn-danger">Delete</a>
            </div>

        </div>

    </div>

</div>

<!-- resident_space.html content ends here -->
{% endblock content %}

<!-- Script block -->
{% block extras %}
<script src="{% static 'js/delete_data.js' %}"></script>
{% endblock %}