{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}
<!-- resident_space.html content starts here -->
<div class="container-fluid">

    <!-- Title Row -->
    <div class="row">
        <div class="col-12 text-center">
            <h2>Welcome to Your Resident Space <span class="text-capitalize">{{ user.username }}</span>!</h2>
        </div>
    </div>

    <!-- Card Row -->
    <div class="row justify-content-center">

        <div class="col-12 col-md-6 col-xl-4 col-xxl-3">

            <!-- Event Space Booking Card -->
            <div class="card border-primary text-center">
                <img src="..." class="card-img-top" alt="...">

                <div class="card-body">
                    <h3 class="card-title">Event Space Bookings</h5>
                    <p class="card-text">Here you can view and book any of the available shared event spaces in the living community. {{ booking_url }}</p>
                    <a href="{% url 'booking' %}" class="btn btn-primary">Book a Space</a>
                </div>

            </div>

        </div>

        <div class="col-12 col-md-6 col-xl-4 col-xxl-3">

            <!-- Maintenance Request Card -->
            <div class="card border-primary text-center">
                <img src="..." class="card-img-top" alt="...">

                <div class="card-body">
                    <h3 class="card-title">Maintenance Requests and Messages</h5>
                    <p class="card-text">Here you can send a maintenance request or any other request or suggestion to the community administrators.</p>
                    <a href="#" class="btn btn-primary">Submit a Request</a>
                </div>

            </div>

        </div>
            
    </div>

    <!-- Data Title Row -->
    <div class="row justify-content-center">      

        <div class="col-12 col-md-6 col-xl-4 col-xxl-3">
            <h4>Your Bookings</h4>
        </div>

        <div class="col-12 col-md-6 col-xl-4 col-xxl-3">
            <h4>Your Requests</h4>
        </div>
            
    </div>

    <!-- Data Rows -->
    <div class="row justify-content-center">

        <div class="col-12 col-md-6 col-xl-4 col-xxl-3">

            <!-- Bookings Data Card -->
            <div class="card">

                <div class="card-body">
                    <p class="card-text">booking data</p>
                    <a href="#" class="btn btn-sm btn-secondary">Edit</a>
                    <a href="#" class="btn btn-sm btn-secondary">Delete</a>
                </div>

            </div>

        </div>

        <div class="col-12 col-md-6 col-xl-4 col-xxl-3">

            <!-- Requests Data Card -->
            <div class="card">

                <div class="card-body">
                    <p class="card-text">requests data</p>
                    <a href="#" class="btn btn-sm btn-secondary">Edit</a>
                    <a href="#" class="btn btn-sm btn-secondary">Delete</a>
                </div>

            </div>

        </div>
            
    </div>

</div>

{% else %}

<div class="container-fluid">
    <div class="row">

        <div class="col-12 mt-3 left">
            <h2>To access the Resident Space <a class="link" href="{{ login_url }}">sign in</a> first!</h2>
        </div>
            
    </div>
</div>

{% endif %}

<!-- resident_space.html content ends here -->
{% endblock content %}