{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- index.html content starts here -->

<!--Hero section-->
<!-- <section>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <img src="{% static 'images/hero-image.webp' %}" alt="hero-image" id="hero-image" class="img-fluid">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto text-center" id="cover-text">
                <h2 class="display-4">SharedSpaces<br>
                    <small class="text-body-secondary">Community Living</small>
                </h2>
            </div>
        </div>
                
    </div>

</section> -->

<!-- margin bottom of hero-section is dynamically set in home.js -->
<section id="hero-section">

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <img src="{% static 'images/hero-image.webp' %}" alt="hero-image" id="hero-image" class="img-fluid">
            </div>
            <div class="col-auto text-center" id="cover-text">
                <h2 class="display-4">SharedSpaces<br>
                    <small class="text-body-secondary">Community Living</small>
                </h2>
            </div>
                
    </div>

</section>

<!--Highlights section-->
<section>

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-10 col-sm-6 col-md-4 text-center highlights-text">
                <h3>A Place to Live</h3>
            </div>
            <div class="col-10 col-sm-6 col-md-4 text-center highlights-text">
                <h3>A Place to Work</h3>
            </div>
            <div class="col-10 col-sm-6 col-md-4 text-center highlights-text">
                <h3>A Place to Find Community</h3>
            </div>
        </div>
                
    </div>

</section>

<!--About section-->
<section>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
            </div>
        </div>
                         
    </div>

</section>

<!-- index.html content ends here -->
{% endblock content %}

<!-- Script block -->
{% block extras %}
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}