{% extends "base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<!-- contact.html content starts here -->


<!--Contact Header section-->
<section">

    <div class="container-fluid">

        <!-- Header for Contact Page -->
        <div class="row me-md-1">
            <!-- Contact header image -->
            <div class="col-12">
                <img src="{% static 'images/contact-image.webp' %}" alt="contact-image" id="contact-header-image" class="img-fluid section-header-image">
            </div>
            <!-- Contact Cover Text -->
            <div class="col-auto text-center section-cover-text" id="contact-cover-text">
                <h3 class="display-5">Contact Us</h3>
            </div>
        </div>
    </div>
</section>


<!-- Contact Form Section -->
<section>

    <div class="row justify-content-center">
        <div class="col-auto">
            <h3>Leave Us a Message:</h3>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row justify-content-center">

            <div class="col-md-4 card mb-4 mt-3">

                <!-- Contact Form Card -->
                <div class="card-body">

                    <!-- Contact Form -->
                    <form id="contact-form" method="post">
                        {{ contact_form | crispy }}
                        {% csrf_token %}
                        <button id="contact-reset-button" type="reset" class="btn btn-secondary btn-lg">Reset</button>
                        <button id="contact-submit-button" type="submit" class="btn btn-secondary btn-lg">Submit</button>
                        
                    </form>

                </div>

            </div>

        </div>
        <!-- End Contact Form -->

    </div>

</section>

<!-- contact.html content ends here -->
{% endblock content %}